/* Write your CSS here */
.card-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-self: flex-end;
  margin-bottom: 10px;
}

.card-summary-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #171f46;
  margin: 0px;
}
.card-summary-items-count {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #616e7c;
}
.card-summary-button {
  background-color: #0b69ff;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  padding: 6px;
  border-radius: 3px;
}
.popup-container {
  border-radius: 10px;
  width: 100%;
}

.paymentPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5%;
  border-radius: 15px;
}

.dropDown {
  margin-top: 20px;
}

.confirmOrderButton {
  margin-top: 15px;
  background-color: lightgray;
  border: none;

  outline: none;
  color: #ffffff;
  padding: 6px;
  border-radius: 3px;
}

.confirmationSuccess {
  margin: 10%;
  text-align: center;
  color: rgb(9, 247, 9);
}

.confirm {
  cursor: pointer;
  background-color: #0b69ff;
}
